/* body {
  padding: 1em;
  display: block;
}

header {
  display: flex;
}

h1 {
  margin-top: 50px;
}

.nav-ctn {
  margin: 20px;
  padding-left: 25%;
}

.nav-ctn a {
  padding: 10px;
}

main {
  display: flex;
} */
